@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Thirsty";
  src: url("./assets/fonts/ThirstyScriptMedium.otf");
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg; }
}

@keyframes anticlock {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: linear-gradient(
    50deg,
    #e6defa 0.89%,
    #e4bef5 17.23%,
    #cd9df0 42.04%,
    #c37deb 55.12%,
    #b15ce6 71.54%,
    #9133cf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .intro-card:last-child {
  margin-right: 0px;
}

.intro-card {
  background: var(--black-gradient);
}

/* .intro-card:hover {
  background: var(--black-gradient);
} */

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #072949 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #804dd3 0%, #6a01b5 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.tech-react {
  height: 140px;
  width: 140px;
  background: #11101d;
  border-radius: 9999px;
  
  position: relative;
  z-index: 0;
}

.tech-react-background {
  height: calc(100% - 5px); /* decrease the height by 10px */
  width: calc(100% - 5px); /* decrease the width by 10px */
  background: #1d1c2f;
  border-radius: 9999px;
  position: absolute;
  top: 2.5px; /* add 5px to the top */
  left: 2.5px; /* add 5px to the left */
  z-index: 1;
}

.tech-react::before,
.tech-react::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--gradient-angle),
    #ffffff -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #0ecfd6 51.94%,
    #0a4e58 90.29%
  );
  border-radius: inherit;
  animation: rotation 9s linear infinite;
}

.tech-react::after {
  filter: blur(2rem);
}

.tech-react-image {
  width: 55%; 
  height: 50%;
  animation: anticlock 20s linear infinite;  /* Add this line */
}

.tech-tailwind {
  height: 100px;
  width: 100px;
  background: #11101d;
  border-radius: 9999px;
  
  position: relative;
  z-index: 6;
}

.tech-tailwind-background {
  height: calc(100% - 5px); /* decrease the height by 10px */
  width: calc(100% - 5px); /* decrease the width by 10px */
  background: #1d1c2f;
  border-radius: 9999px;
  position: absolute;
  top: 2.5px; /* add 5px to the top */
  left: 2.5px; /* add 5px to the left */
  z-index: 1;
}

.tech-tailwind::before,
.tech-tailwind::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--gradient-angle),
    #ffffff -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #0ecfd6 51.94%,
    #0a4e58 90.29%
  );
  border-radius: inherit;
  animation: rotation 9s linear infinite;
}

.tech-tailwind::after {
  filter: blur(2rem);
}

.tech-tailwind-image {
  width: 40%; 
  height: 30%;
 /* animation: anticlock 20s linear infinite;  /* Add this line */
}





.tech-js {
  height: 200px;
  width: 200px;
  background: #11101d;
  border-radius: 9999px;
  
  position: relative;
  z-index: 7;
}

.tech-js-background {
  height: calc(100% - 5px); /* decrease the height by 10px */
  width: calc(100% - 5px); /* decrease the width by 10px */
  background: #222139;
  border-radius: 9999px;
  position: absolute;
  top: 2.5px; /* add 5px to the top */
  left: 2.5px; /* add 5px to the left */
  z-index: 1;
}

.tech-js::before,
.tech-js::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--gradient-angle),
    #ffffff -43.27%,
    #f4f5be -21.24%,
    #f0f09d 12.19%,
    #ebe47d 29.82%,
    #d6bb0e 51.94%,
    #583f0a 90.29%
  );
  border-radius: inherit;
  animation: rotation 9s linear infinite;
}

.tech-js::after {
  filter: blur(2rem);
}

.tech-js-image {
  width: 60%; 
  height: 45%;
 /* animation: anticlock 20s linear infinite;  /* Add this line */
 margin-left: 30px;
 margin-top: 30px;
}

.earth {
  position: absolute;
  margin-left: 20px;
  width: 70px;
  height: 70px;
  background-image: url("./assets/map.png");
  border-radius: 50%;
  background-size: cover;
  box-shadow: inset 0.5px 0.5px 10px 0px #1d1d1d;
  animation: spin 30s linear infinite;
}

@keyframes spin{
  100%{background-position: 100%;}
}
.image-fade {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%);
}

.websmith-gradient {
  background: linear-gradient(
    50deg,
    #5100ff 0%,
    #6803a6 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
